.navbar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 4%;
}
.navbar .logo{
  width: max(10%,200px);
}

@media (max-width: 750px) {
  .navbar {
    padding: 8px 6%;
  }

  .navbar .logo {
    width: 140px;
  }

}

@media (max-width: 420px) {
  .navbar {
    padding: 6px 4%;
  }

  .navbar .logo {
    width: 120px;
  }

}
